[user]
    name = {{ git_user_name }}
    email = {{ git_user_email }}

[github]
    user = {{ git_github_user }}

[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[init]
    defaultBranch = main
